<h1>Deferrable Views</h1>
<p>
  Deferrable views are views that are not evaluated until they are used. This is
  useful for views that are expensive to compute or that may not be needed
  during the normal course of operation.
</p>
<div class="container">
  <div class="nav-bar">
    <a routerLink="idle" routerLinkActive="active">Idle</a>
    <a routerLink="timer" routerLinkActive="active">Timer</a>
    <a routerLink="hover" routerLinkActive="active">Hover</a>
    <a routerLink="interaction" routerLinkActive="active">Interaction</a>
    <a routerLink="interaction-prefetched" routerLinkActive="active"
      >Interaction (prefetched)</a
    >
    <a routerLink="interaction-inputs" routerLinkActive="active"
      >Interaction - Inputs and Buttons</a
    >
    <a routerLink="viewport" routerLinkActive="active">Viewport</a>
    <a routerLink="error" routerLinkActive="active">Error</a>
    <a routerLink="custom" routerLinkActive="active">Custom</a>
  </div>
</div>

<router-outlet></router-outlet>
