code {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  overflow: auto;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #fff;
}
