.nav-bar {
  width: 100%;
  display: flex;
  gap: 10px;
  background-color: var(--secondary-color);
  height: 3rem;
  align-items: center;
  font-size: larger;
  justify-content: center;

  // navbar for mobile
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
    height: auto;
    > a {
      margin-block-start: 1rem;
    }
  }

  // nav bar item
  > a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #fff;
      color: var(--secondary-color);
    }

    &.active {
      background-color: #fff;
      color: var(--secondary-color);
    }
  }
}

.page {
  padding: 20px;
}
