<div class="nav-bar">
  <a routerLink="deferrable-views" routerLinkActive="active"
    >Deferrable Views</a
  >
  <a routerLink="for-syntax" routerLinkActive="active">For-Syntax</a>
  <a routerLink="if-syntax" routerLinkActive="active">If-Syntax</a>
  <a routerLink="switch-syntax" routerLinkActive="active">Switch-Syntax</a>
  <a routerLink="standalone-pipes" routerLinkActive="active"
    >Standalone Pipes</a
  >
  <a routerLink="signals-syntax" routerLinkActive="active">Signals-Syntax</a>
</div>

<div class="page">
  <router-outlet></router-outlet>
</div>
